<!-- Page Preloder -->
<style>
     .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }
</style>
    {{!-- <div id="preloder">
        <div class="loader"></div>
    </div> --}}



    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay" >
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        {{!-- <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="/show_cart"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul> --}}
        <div class="offcanvas__logo">
            {{!-- <a href="./index.html"><img src="/user/img/BATOOL.png" alt=""></a> --}}
            <h2>Furniture</h2>
        </div>
        <div id="mobile-menu-wrap"></div>
        {{!-- <div class="offcanvas__auth"> --}}
            <a href="/login">Login</a>
            <a href="/signup">Register</a>
        {{!-- </div> --}}
    </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header"  >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2 ">
                    {{!-- <div class="header__logo"> --}}
                        {{!-- <a href="./index.html"><img src="/user/img/BATOOL.png" alt=""></a> --}}
                        <h2>Furnfun</h2>
                    {{!-- </div> --}}
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu" >
                        <ul> 
                           
                            <li><a href="/">Home</a></li>
                            {{#each showCatagory}}
                            <li><a href="/catagory?catagory={{this.catagory}}">{{this.catagory}}</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{/each}}
                            
                            {{#if user}}
                            <li><a class="" href="#">{{user.name}}</a>
                                <ul class="dropdown">
                                    <li><a href="/logout">Logout</a></li>
                                    <li><a href="/profile">Profile</a></li>
                                </ul>
                            </li>
                            {{else}}
                             <li><a href="#">Account</a>
                                <ul class="dropdown">
                                    <li><a href="/login">Login</a></li>
                                    
                                </ul>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
                <div>
                    
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            
                            {{!-- <a href="/login">Login</a>
                            <a href="/signup">Signup</a> --}}
                            
                        </div>
                        <ul class="header__right__widget">
                            
                            <li><span class="icon_search search-switch"></span></li>
                            
                             {{#if user}}
                             
                            <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                                <div id="wish-count" class="tip">{{wishCount}}</div>
                            </a></li>
                           
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                                <div id="cart-count"  class="tip">{{cartCount}}</div>
                            </a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->