<section>
    <div class="container ">
        <div class="row">
            {{#each catProducts }}

            <div class="col-md-3 p-3">
                <div class="card mt-4" style="width: 20rem; height:30rem">
                    <a href="/single-product/{{this._id}}">
                        <img src="images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height: 12rem;">

                    </a>

                    <div class="card-body">
                        <h5 class="card-title">{{this.product}}</h5>
                        <p class="card-text">Rs.{{this.price}}</p>
                        <p class="card-text">{{this.description}}</p>

                        {{!-- <i class="fas fa-camera fa-9x"></i> --}}
                        <button onclick="addToWishlist('{{this._id}}')" class="bi-heart-fill btn btn-primary"
                            style='font-size:7px'> Add to Wishlist</button>
                        <button onclick="addToCart('{{this._id}}')" class=" bi-cart-fill btn btn-success"
                            style='font-size:7px'> Add to Cart</button>


                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>


